/* --- put your css here --- */ 
h2 {background-color: #32CD32; }

.igottabeme { font-family: Arial, Helvetica, sans-serif; }

.classy {padding-left: 10px; }

div {margin-bottom: 50px;}

span.a {width: 100px; height: 5px; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; border-style: solid; border-color: blue;border-width: 5px; background-color: yellow; }

span.b {width: 100px; height: 5px; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; border-style: solid; border-color: blue;border-width: 5px; background-color: yellow; }

span.c {width: 100px; height: 5px; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; border-style: solid; border-color: blue;border-width: 5px; background-color: yellow;}

#cat {  position: fixed; bottom: 0; right: 0;}

#dog {position:relative; left: -50px; top: -150px;}

#bird {position: relative; left: 150px; top: 250px;}

nav {position: fixed; padding: 5px; font-size: 20px; opacity: 90%;}


/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
